.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 1fr;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
  }

  .headerContainer {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}
