.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 1fr;
}

.header {
  margin-bottom: 1rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
