:root {
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);

  --color-text-primary: #181818;
  --color-text-secondary: #b3b3b3;
  --color-accent: #404040;
  --color-error: #e91429;
  --color-skeleton: #b3b3b3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-geist-sans);
  font-weight: 600;
}

code,
pre {
  font-family: var(--font-geist-mono);
}
